<router-outlet></router-outlet>
<div class="container_12" >	
  <div class="grid_12" style="top : 10px;">
    <div class="wrap block-3 pad-2">
      <span></span>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="titre">
          <th mat-header-cell *matHeaderCellDef> Titre </th>
          <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="dateDebut">
          <th mat-header-cell *matHeaderCellDef> Date début </th>
          <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
        </ng-container>
      
        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef> Etat </th>
          <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <a class="btn btn-warning btn-sm" routerLink="modifier-evenement"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Modifier</a> 
            <a class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Supprimer</a> 
            <a class="btn btn-info btn-sm" routerLink="details-evenement"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Lister</a>  
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
  </div>
  <div class="clear"></div>
</div>