
  <div class="main">
      <header>
          <h1><a ><img src="/src/assets/images/logo.png" alt=""></a></h1> 
          <div class="clear"></div>    
          <nav class="box-shadow">
              <div>
                  <ul class="menu">
                      <li class="home-page"><a routerLink="home"><span></span></a></li>
                      <li><a routerLink="liste-evenement">Liste événements</a></li>
                      <li><a routerLink="liste-dir">Liste événements</a></li>
                      <li><a routerLink="nouvel-evenement">Nouvel Evenement</a></li>
                      <li><a routerLink="nouvel-user">new user</a></li>
                      <li><a routerLink="nouveau-compte">new cmpt</a></li>
                      <li><a routerLink="liste-users">show usr</a></li>
                      <!-- sous menu-->
            
                      <li><a href="clients.html">Galerie</a></li>
                  </ul>
                  <div class="social-icons">
                     
                  </div>
                  <div class="clear"></div>
              </div>
          </nav>
      </header>   
      <section id="content"><router-outlet></router-outlet></section>   	
    </div>    
    <div class="footer">
        <p>© 2020 KawKaw</p>
        </div>
