<div class="container_12">
    <div class="grid_12">
        <div class="wrap block-3 pad-2">
            <h1 class="text-center"> Nouveau Compte</h1>
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="login">Login</label>
                            <input type="text" name="login" class="form-control" id="login" placeholder="login">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="text" name="password" class="form-control" id="password" placeholder="password">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="role">Role</label>
                            <input type="role" name="role" class="form-control" id="role"
                                placeholder="role">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
