<div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.titre" placeholder="Titre">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.theme" placeholder="Theme">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.datedebut" placeholder="datedebut">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.datefin" placeholder="datefin">
      </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.nbrParticipant" placeholder="Nombre de participants">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.budget" placeholder="Budget">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.objectif" placeholder="objectif">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.publicConcerne" placeholder="Public concerné">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.equipements" placeholder="equipements">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.details" placeholder="details">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Modifier</button>
  </div>