<app-header></app-header>
<section id="content">
  <div class="container_12" >
    <div class="grid_12" style="top : 10px;">
      <div class="wrap block-3 pad-2">
        <h1> Bienvenue {{login}}!</h1>
        <div class="image">
          <img src="http://lorempixel.com/400/200">
        </div>
        <div class="col-sm-6">
          <h3 *ngIf="!open" class="short">L'application gestion d'évenement est une application qui permet</h3>
          <div class="colaps" (click)="colaps()" *ngIf="!open">Plus</div>
          <div class="colaps" (click)="colaps()" *ngIf="open">Moins</div>
          <h3 *ngIf="open"> L'application gestion d'évenement est une application qui permet de créer des évenements ainsi que blah blah</h3>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
<app-footer></app-footer>
