<div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.nom" placeholder="Nom">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.prenom" placeholder="Prenom">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.mail" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.cin" placeholder="CIN">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.telephone" placeholder="Téléphone">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Modifier</button>
  </div>