
<div class="container_12">	
    <div class="grid_12">
      <div class="wrap block-3 pad-2">
          <div>
              <h3 class="p5"> nouvel Evenement</h3>
              <form>
                <div class="form-group">
                    <label for="titre">titre</label>
                    <input type="text" name="titre" class="form-control" id="titre" placeholder="titre">
                    <label for="Theme">Theme</label>
                    <input type="text"  name="theme" class="form-control" id="Theme" placeholder="Theme"> 
                    <label for="type">Type</label>
                    <select id="type" placeholder="type" class="form-control"> 
                        <option >Culturel</option>
                        <option >Scientifique</option>
                        <option >Educationnel</option>
                        <option >Sportif</option>
                    </select>
                    <label for="nbrparticipants">nombre de participants</label>
                    <input type="text" name="nbrParticipant" class="form-control" id="nbrparticipants" placeholder="nombre de participants">
                    <label for="budjet">Budjet</label>
                    <input type="text" class="form-control" id="budjet" placeholder="budjet">
                    <label for="objectif">Objectif</label>
                    <input type="text" name="objectif" class="form-control" id="objectif" placeholder="objectif">
                    <label for="debut">Date début</label>
                    <input type="date" name="datedebut" class="form-control" id="debut" placeholder="date début">
                    <label for="fin">Date fin</label>
                    <input type="date" name="datefin" class="form-control" id="fin" placeholder="date fin">
                    <label for="conserned">Public Conserné</label>
                    <input type="text" name="publicConcerne" class="form-control" id="conserned" placeholder="Public Conserné">
                    <label for="sponsors">Sponsors</label>
                    <input type="text" class="form-control" id="sponsors" placeholder="sponsors">
                   <label for="details">Détails</label>
                   <textarea  name="details" class="form-control" id="details" rows="2"></textarea>
                    
                </div>
              </form>
              </div>

      </div>
    </div>
    <div class="clear"></div>
  </div>