
<div class="row">
<div class="container_12">	
    <div class="grid_12">
      <div class="wrap block-3 pad-2">
              <h1 class="text-center"> Nouvel Evenement</h1>
              <form>
                <div class="form-group">
                  <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="titre">titre</label>
                    <input type="text" name="titre" class="form-control" id="titre" placeholder="titre">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Theme">Theme</label>
                    <input type="text"  name="theme" class="form-control" id="Theme" placeholder="Theme">
                   </div>
                  </div>
                   <div class="form-row">
                   <div class="form-group col-md-6">
                    <label for="type">Type</label>
                    <select id="type" placeholder="type" class="form-control"> 
                        <option >Culturel</option>
                        <option >Scientifique</option>
                        <option >Educationnel</option>
                        <option >Sportif</option>
                    </select>
                  </div>
                    <div class="form-group col-md-6">
                      <label for="objectif">Objectif</label>
                      <input type="text" name="objectif" class="form-control" id="objectif" placeholder="objectif">
                    </div>
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="nbrparticipants">nombre de participants</label>
                    <input type="text" name="nbrParticipant" class="form-control" id="nbrparticipants" placeholder="nombre de participants">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="budjet">Budjet</label>
                    <input type="text" class="form-control" id="budjet" placeholder="budjet">
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="debut">Date début</label>
                    <input type="date" name="datedebut" class="form-control" id="debut" placeholder="date début">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fin">Date fin</label>
                    <input type="date" name="datefin" class="form-control" id="fin" placeholder="date fin">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="conserned">Public Conserné</label>
                    <input type="text" name="publicConcerne" class="form-control" id="conserned" placeholder="Public Conserné">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="sponsors">Sponsors</label>
                    <input type="text" class="form-control" id="sponsors" placeholder="sponsors">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="type">Salle</label>
                    <select id="type" placeholder="type" class="form-control"> 
                      <option >A</option>
                    </select>
                  </div>
                </div>
                    
                   <label for="details">Détails</label>
                   <textarea  name="details" class="form-control" id="details" rows="2"></textarea>
                </div>
                <input type="submit" class="btn btn-primary">
              </form>
         </div>
    </div>
  </div>
  </div>